[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

"flake8" = "*"
pycodestyle = "*"
yapf = "*"
isort = "*"
"autopep8" = "*"
cryptography = "*"
PyYAML = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
pipenv-to-requirements = {git = "https://github.com/jgirardet/pipenv-to-requirements.git@git", editable=true}
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
Sphinx = "*"
sphinx-autobuild = "*"
pytest-pythonpath = "*"
pytest-django = "*"
django-reset-migrations = "*"
django-extensions = "*"
pytest-env-info = "*"


[packages]

pbr = ">=3.0"
apistar = {git = "https://github.com/audiolion/apistar.git", editable=true}
apistar-shell = "*"
Django = "*"
"psycopg2" = "*"
